.Menu {
    position: fixed;
    top: 50%;
    right: -120px;
    background-color: #9b59b6;
    color: white;
    padding: 10px;
    z-index: 100;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateY(-50%);
    transition: 0.3s;
    box-shadow: 0px 0px 10px #333;
}

.Menu:hover {
    right: 0px;
}

.InnerMenu {
    margin: 5px;
}

.InnerMenu > div {
    margin-top: 20px;
}

.InnerMenu > div:first-child {
    margin-top: 0px;
}

.Grid {
    background-color: #f6f6f6;
}

.Row {
    display: flex;
}