.Square {
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    cursor: pointer;
}

.Square:hover {
    background-color: #ddd;
    transform: scale(1.1, 1.1);
    z-index: 10;
}

.SquareNumbers {
    font-size: 8px; 
    color: #777;
    margin: 18px 0px;
    display: inline-block;
}

.StartSquare {
    background-color: #e74c3c !important;
}

.EndSquare {
    background-color: #3498db !important;
}

.WallSquare {
    background-color: #34495e !important;
}

.SearchedSquare {
    background-color: #67FFDE !important;
}

.PathSquare {
    background-color: #FFEB9D !important;
}